.b{
    background-color: black;
    color: gray;
    height:10px
}
.r{
    background-color: whitesmoke;
    color: red;
    height:10px
}
.g{
    background-color: gainsboro;
    color:grey;
    height:10px
}
.y{
    background-color: yellow;
    height:10px
}