body{
    background-color: gainsboro;
    color: maroon;
    border-radius: 25px;
    padding: 20px;
}
img{
    height: 150px;
    width: 200px;
}
h3{
    border-style:dashed;
}
h2{
    border-style:dashed;
}
.squircle{
    border-radius: 25px;
    padding: 20px
}