body{
    background-color: gainsboro;
    color: maroon;
    border-radius: 25px;
    padding: 20px;
}
img{
    height: 150px;
    width: 200px;
}
h3{
    border-style:solid;
    border-width:1px;
    border-color: brown
}
h2{
    border-style:solid;
}
.pageMargin{
    border-style: solid;
    border-width: 20px;
    border-color:maroon;
    margin: 20px;
}
.edge{
    border-style: solid;
    border-width:10px;
    border-color: maroon;
}
.squircle{
    border-radius: 25px;
    padding: 20px
}